<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{orphanage.name}} | Detalhes do orfanatos</title>

    <link rel="icon" href="images/logo-icon.png" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/animations.css" />
    <link rel="stylesheet" href="css/font-nunito.css" />
    <link rel="stylesheet" href="css/orphanage.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/map.css" />
    <link rel="stylesheet" href="css/buttons.css" />

    <link rel="stylesheet" href="css/leaflet.css"/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="js/leaflet.js"></script>
  
  </head>
  <body>

    <div id="page-orphanage">

      <aside class="animation-left-to-right sidebar">
        
        <a href="/orphanages">
            <img src="/images/map-marker.svg" alt="Happy" />
        </a>

        <footer>
          <button onclick="history.back()">
            <img src="images/arrow-back.svg" alt="Voltar">
          </button>
        </footer>

      </aside>

      <main class="animation-apper with-sidebar">

        <div class="orphanage-detail">

          {{orphanage.firstImage}}
          <img src="{{orphanage.images}}" alt="titulo do orfanato" srcset="">

          <div class="images">

            {{#each orphanage.images}}

              <button onClick="selectImage(event)" class="active" type="button"> 
                <img src="{{this}}" alt="{{orphanage.name}}" srcset="" title="Clique para expandir">
              </button>

            {{/each}}

          </div>


          <div class="orphanage-detail-content">
            <label for="name">Nome</label>
            <h1 id="name">{{orphanage.name}}</h1>

            <label for="about">Sobre</label>
            <h1 id="about">{{orphanage.about}}</h1>

            <label for="location">localização</label>
            <div id="location" class="map-container">

              <div id="mapid"></div>  
              <span hidden
                data-lat={{orphanage.lat}}
                data-lng={{orphanage.lng}}>
              </span>

              <footer>
                <a target="_blank" href="https://maps.google.com/mobile?q={{orphanage.lat}},{{orphanage.lng}}&z=15">
                  Ver rotas no google maps
                </a>
              </footer>
            

            </div>

            <label for="intructions">Instruções / visita</label>
            <h1 id="instructions">{{orphanage.instructions}}</h1>

            <label for="open_on_weeked">Atendimento</label>
            <div id="open_on_weeked" class="open-details">

              <div class="hour">
                <img src="images/clock.svg" alt="Horarios de atendimento">
                {{orphanage.opening_hours}}
              </div>

              {{#if orphanage.openWeek}}
                <div class="open-on-weekends">
                  <img src="images/info.svg" alt="Informações de funcionamento" srcset="">
                    Abrimos em finais de semana e feriados
                </div>
              {{else}}
                  <div class="closed">
                    <img src="images/info-red.svg" alt="Informações de funcionamento" srcset="">
                      Não Abrimos em finais de semana e feriados
                  </div>
              {{/if}}

            </div>

            <div class="content-button">
              <a target="_blank" class="primary-button" href="https://api.whatsapp.com/send?phone={{orphanage.whatsapp}}&text=Primeiro contato!" title="{{orphanage.name}}">
                <img src="images/whatsapp.svg" alt="contato via whats app" srcset="">
                  Entrar em contato
              </a>
            </div>


          </div>

        </div>

      </main >


    </div>

    <script src="js/orphanage.js"></script>

  </body>
</html>
